.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.navContainer {
  margin-top: 60px;
  margin-bottom: 20px;
  padding: 0 20px;
}

.nav {
  max-width: 1200px;
  margin: 0 auto;
  border-top: 1px rgb(209, 209, 209) solid;
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.navLink {
  padding-left: 20px;
}

.rightSide {
  display: flex;
}
