.navContainer {
  margin-bottom: 60px;
  padding: 0 20px;
}

.nav {
  max-width: 1200px;
  margin: 0 auto;
  border-bottom: 1px rgb(209, 209, 209) solid;
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.navLink {
  padding-left: 20px;
  display: flex;
}

.rightSide {
  display: flex;
}

.aLink {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
