.navContainer {
  margin-bottom: 20px
}

.nav {
  max-width: 1200px;
  margin: 0 auto;
  border-bottom: 1px rgb(209, 209, 209) solid;
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.navLink {
  padding-left: 20px;
}

.rightSide {
  display: flex;
}
