.inputForm {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}
/* CheapestFlighsItem */
.titleItem {
  font-weight: bolder;
}

.individualPara {
  margin-bottom:5px;
}

.link {
  cursor: pointer;
}

@media (max-width: 700px) {
  .inputForm {
    display: block;
    margin-bottom: 30px
  }
}

@media all and (orientation: portrait) {
  .inputForm {
    display: block;
  }
}
